@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 322 80% 10%;

    --card: 0 0% 100%;
    --card-foreground: 322 80% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 322 80% 10%;

    /* PRIMARY: Vinho-Escuro Uniodonto (#810e56) */
    --primary: 322 80% 28%;
    --primary-foreground: 0 0% 100%;

    /* SECONDARY: Ciano Uniodonto (#60ebff) */
    --secondary: 187 100% 69%;
    --secondary-foreground: 322 80% 20%;

    /* MUTED */
    --muted: 261 50% 96%;
    --muted-foreground: 322 20% 40%;

    /* ACCENT */
    --accent: 331 43% 54%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 322 20% 90%;
    --input: 322 20% 90%;
    --ring: 322 80% 28%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}